
{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- Modify the "Column 1" section -->
<div class="content-column" id="column1">
    <h2>Today's Events</h2>
    <div id="eventsToday">
        <p class="no-events-message">No events today.</p>
    </div>
</div>
<div class="content-column" id="column2">
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert">
                        {{ message }}
                        &nbsp;&nbsp;
                        <button class="close-button" onclick="closeMessage(this)">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <h2>Welcome {{ user_name }}</h2>
    <div class="calendar">
        <div id="calendar"></div>
    </div>
</div>
{% endblock %}

{% block overlay %}
<!-- The overlay for adding an event -->
<div class="overlay" id="eventOverlay">
    <div class="overlay-content">
        <h2>Add Event</h2>
        <form id="eventForm">
            <label for="eventTitle">Event Title:</label>
            <input type="text" id="eventTitle" required>
            <label for="eventStartDate">Start Date:</label>
            <input type="date" id="eventStartDate" required>
            <label for="eventStartTime">Start Time:</label>
            <input type="time" id="eventStartTime" required>
            <label for="eventEndDate">End Date:</label>
            <input type="date" id="eventEndDate" required>
            <label for="eventEndTime">End Time:</label>
            <input type="time" id="eventEndTime" required>
            <label for="eventDescription">Event Description:</label>
            <textarea id="eventDescription" rows="4" required></textarea>
            <div class="overlay-buttons">
                <button type="button" id="createEvent">Create</button>
                <button type="button" id="cancelEvent">Cancel</button>
            </div>
        </form>
    </div>
</div>
{endblock}

{% block overlay_alert %}    
<!-- The alert overlay (hidden by default) -->
<div class="alert-overlay" id="alertOverlay">
    <div class="alert-content">
        <h2>Error</h2>
        <p id="alertMessage"></p>
        <div class="alert-buttons">
            <button class="ok-button" id="okButton">OK</button>
        </div>
    </div>
</div>
{% endblock %} 
<script>
    function closeMessage(button) {
      button.parentElement.style.display = "none"; // Hide the parent <li> element
    }
  </script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
{% endblock %}